pkgbase = epson-inkjet-printer-201311w
	pkgdesc = Epson printer driver (L1300)
	pkgver = 20150831
	pkgrel = 1
	epoch = 1
	url = http://download.ebz.epson.net/dsc/search/01/search/?OSC=LX
	arch = x86_64
	license = LGPL
	license = custom:Epson Licence Agreement
	depends = cups
	depends = ghostscript
	source = epson-inkjet-printer-201311w-1.0.1-1lsb3.2.src.rpm
	source = fixbuild.patch
	sha256sums = 2d06e7afb14644b15c86e57434d37a3aec89c9c9477fd43dd098046bed35863b
	sha256sums = 4936d365168c0a8519093e003b2dddc680399e14d3e6e0ea49b59617672323c3

pkgname = epson-inkjet-printer-201311w

